/* ************************************************************************************************* */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Text */
.text-container {
  padding: 20px; /* Ajoutez une marge intérieure pour l'espace autour du texte */
}

body {
  margin: 0;
}

/* Header */
header {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center; /* Centrer horizontalement les éléments enfants */
  flex-direction: row;
  background: #DBE8F4;
  height: 9rem; /* Utilisation de rem pour une taille relative */
  width: 100%;
}

header img {
  position: absolute;
  top: 2vh;
  left: 1vw;
  padding: 0;
  width: 7rem; /* Utilisation de rem pour une taille relative */
}

/* Navbar */
.navbar-container {
  padding-inline: 3.125rem; /* Utilisation de rem pour une taille relative */
  border: #B8DDFF 0.125rem solid; /* Utilisation de rem pour une taille relative */
  border-top: 0;
  border-radius: 0 0 0.9375rem 0.9rem; /* Utilisation de rem pour une taille relative */
  background: #DBE8F4;
  box-shadow: #B8DDFF 0.3125rem 0.3125rem 0.3125rem 0.125rem; /* Utilisation de rem pour une taille relative */
  display: flex;
  align-items: center; /* Centrer verticalement les éléments */
  height: 7.5rem;
}

.navbar-container ul {
  padding: 0.3125rem; /* Utilisation de rem pour une taille relative */
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center; /* Centrer horizontalement les éléments */
  width: 100%;
  gap: 7rem; /* Utilisation de rem pour une taille relative */
}

.nav-link {
  width: 10rem; /* Utilisation de rem pour une taille relative */
  height: 5.7rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease !important; /* Ajout de l'effet de transition */
  cursor: pointer; /* Ajout de la propriété cursor pour indiquer que les éléments sont cliquables */
}

.navbar-nav a:hover {
  transform: scale(1.2); /* Agrandir l'image de 10% */
}

.nav-link:hover,
.nav-link.active,
.container-link.agrandi .BlayeLesMines,
.container-link.agrandi .site2,
.container-link.agrandi .site3 {
  background: #B8DDFF;
  border-radius: 0.5rem; /* Utilisation de rem pour une taille relative */
}

.navbar-nav a .navbar-text {
  font-size: 1rem;
}

.navbar-text {
  margin-top: -0.3125rem; /* Utilisation de rem pour une taille relative */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  font-family: 'Poppins'; /* Remplacez Arial par le nom de la police de votre choix */
  font-weight: 300;
  font-style: normal;
}

.Paragraphe,
.Titre {
  font-family: 'Poppins'; /* Remplacez Arial par le nom de la police de votre choix */
  font-weight: 300;
  font-style: normal;
}

.Paragraphe {
  margin-bottom: 1.5rem;
}

.Titre {
  margin-bottom: 1rem;
}

/* Images accueil */
.bas-page-container {
  position: fixed; /* Utilisez une position fixe pour placer l'image par rapport à la fenêtre */
  bottom: 0; /* Placez l'élément en bas de la fenêtre */
  left: 0; /* Placez l'élément tout à gauche */
  width: 100%; /* Assurez-vous que l'élément occupe toute la largeur de la fenêtre */
  display: flex;
  justify-content: center;
  max-height: 30%;
}

.bas-page {
  width: 100%;
  opacity: 0.5;
  border-top: black 0.2rem solid;
}





/* Blayes-Les-Mines bouton */
.BlayeLesMines,
.site2,
.site3 {

  opacity: 0.2; /* Opacité initiale plus élevée */
  width: 30rem;
  border-radius: 0.4rem; /* Utilisation de rem pour une taille relative */
  transition: transform 0.2s ease, opacity 0.2s ease; /* Ajout de la transition */
  cursor: pointer; /* Ajout de la propriété cursor pour indiquer que les éléments sont cliquables */
}

.BlayeLesMines {
  left: 5rem; /* Position à gauche de la fenêtre */
}

.site2 {
  left: 37.5%;
}

.site3 {
  right: 5%; /* Position centrée horizontalement */
  transform: translateX(-50%);
}

.text-overlay-site1,
.text-overlay-site2,
.text-overlay-site3 {
  position: absolute;
  top: 9rem;
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  transition: font-size 0.2s ease, opacity 0.2s ease; /* Ajout de la transition */
  cursor: pointer; /* Ajout de la propriété cursor pour indiquer que les éléments sont cliquables */

}

.text-overlay-site1 {
  left: 15rem;
  transform: translate(-50%, -50%);
}

.text-overlay-site2 {
  left: 50%; /* Ajustez la position horizontale pour BlayeLesMines */
  transform: translate(-50%, -50%);
}

.text-overlay-site3 {
  left: 91rem; /* Ajustez la position horizontale pour BlayeLesMines */
  transform: translate(-50%, -50%);
}

.container-link:hover .BlayeLesMines,
.container-link:hover .site2,
.container-link:hover .site3,
.container-link.agrandi .BlayeLesMines,
.container-link.agrandi .site2,
.container-link.agrandi .site3 {
  transform: scale(1.2);
  opacity: 0.7; /* Opacité lors du survol */
  box-shadow: 0 0 20px 15px #B8DDFF; /* Ombre dégradée */
}

.container-link:hover .text-overlay-site1,
.container-link:hover .text-overlay-site2,
.container-link:hover .text-overlay-site3,
.container-link.agrandi .text-overlay-site1,
.container-link.agrandi .text-overlay-site2,
.container-link.agrandi .text-overlay-site3 {
  font-size: 3rem;
}

.container-link:not(:hover) .BlayeLesMines,
.container-link:not(:hover) .site2,
.container-link:not(:hover) .site3 {
  transform: scale(1); /* Taille initiale */
}

.container-link:not(:hover) .text-overlay-site1,
.container-link:not(:hover) .text-overlay-site2,
.container-link:not(:hover) .text-overlay-site3 {
  font-size: 2.5rem; /* Taille initiale */
}

.menu-accueil-container.agrandi .BlayeLesMines,
.menu-accueil-container.agrandi .site2,
.menu-accueil-container.agrandi .site3 {
  transform: scale(1);
  opacity: 0.7;
  box-shadow: 0 0 20px 15px #B8DDFF;
}


.menu-accueil-container{
  position: absolute;
  top: 21.2rem;
  left:7rem;
  gap: 8rem;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}



/* Styles pour agrandir les images cliquées */
.container-link.agrandi .BlayeLesMines,
.container-link.agrandi .site2,
.container-link.agrandi .site3 {
  transform: scale(1);
  opacity: 0.7;
  box-shadow: 0 0 20px 15px #B8DDFF;
}

.container-link.agrandi .text-overlay-site1,
.container-link.agrandi .text-overlay-site2,
.container-link.agrandi .text-overlay-site3 {
  font-size: 2.5rem;
}


.display-perso-5{
  font-size: 0.55rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  font-weight: 100;
}
.display-perso-4{
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  font-weight: 100;
}
.display-perso-3{
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 300;
}
.display-perso-2{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-weight: 300;
}

.container-perso-content{
  background-color: rgba(217, 217, 217,0.31);
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0,0.07);
  /* width: 80%; */
}

.poste-title{
  font-size: 1vh;
  font-weight: 600;
}
.charge-content{
  font-size: 1vh;
  font-weight: 600;
}

.select-semaine{
  cursor: pointer;
  background-color: rgba(217, 217, 217,0.31);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0,0.07);
  scale: 1;
  /* box-shadow: rgba(0, 0, 0,0.25) 4px 0px 4px 0px; */
}

.select-semaine:hover{
  background-color: rgba(219,232,244,0.5);
  border: 2px solid rgba(219,232,244,0.5);
  scale: 1.1;
  transition: scale 0.2s;
}

.select-semaine.active{
  background-color: rgba(219,232,244,0.8) !important;
  border: 2px solid rgba(219,232,244,1) !important;
}
.table-perso-1{
  --bs-table-color: #000000;
  --bs-table-bg: transparent !important;
  --bs-table-border-color: transparent !important;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #000000;
  --bs-table-striped-bg: rgba(0, 0, 0,0.05) !important;
  --bs-table-active-color: #000000;
}

.table-perso-1 thead tr th,
.table-perso-1 tbody tr td{
  padding-left: 0.8rem;
  padding-right : 0.8rem;
  font-size: 0.7rem;

}
.container-perso-ordo{
  /* width: 100%; */
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: auto;
  margin-left: auto;
}
/* .Title_poste{
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #000000;
}

.Subtitle_poste{
  font-size: 0.8rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0,0.45);
} */

.Text_Semaine_PDC{
  font-size: 0.9rem;
  color: #000000;
}

.Value_Semaine_PDC{
  font-size: 1rem;
}

.rond_PDC {
  width: 40px; /* Définissez la largeur de votre cercle */
  height: 40px; /* Définissez la hauteur de votre cercle */
  border-radius: 50%; /* Utilisez border-radius avec une valeur de 50% pour créer un cercle */
  background-color: red; /* Ajoutez une couleur de fond */
  box-shadow: 10 10 10 10 rgba(0, 0, 0,0.25);
}
