@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  
  /*CROIX SECURITE ******************************************/
  
  .croix {
    position: relative;
  }
  
  .ligne-horizontal,
  .ligne-vertical {
    /* border: #D9D9D9 1px solid; */
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    background-color: #FFFFFF; /* couleur de la croix */
  }
  
  .ligne-horizontal {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .ligne-vertical {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .calendar_cell{
    text-align: center;
    padding: 0;
    margin: 0;
    border: #D9D9D9 1px solid;
    /* border-radius: 6px; */
    color: #ADADAD;
  }

  .futur_day{
    background-color: #FFFFFF;
  }
  .noAccident_day{
    background-color: #87DE9F;
  }
  .Accident_day{
    background-color: #DC6060;
  }

  .legend {
    width: 40px;
    height: 20px;
  }
  .legend-text{
    text-align: start;
    margin: 0;
    padding: 0;
  }

  .Month_Icon{
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    color: #D9D9D9;
    cursor: pointer;
  }
  




