@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header **************************************************/
header {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center; /* Centrer horizontalement les éléments enfants */
    flex-direction: row;
    background: #DBE8F4;
    height: 9rem; /* Utilisation de rem pour une taille relative */
    width: 100%;
  }
  
  header img {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 0;
    width: 8rem; /* Utilisation de rem pour une taille relative */
  }
  
  /* Navbar **************************************************/
  .navbar-container {
    padding-inline: 3.125rem; /* Utilisation de rem pour une taille relative */
    border: #B8DDFF 0.125rem solid; /* Utilisation de rem pour une taille relative */
    border-top: 0;
    border-radius: 0 0 0.9375rem 0.9rem; /* Utilisation de rem pour une taille relative */
    background: #DBE8F4;
    box-shadow: #B8DDFF 0.3125rem 0.3125rem 0.3125rem 0.125rem; /* Utilisation de rem pour une taille relative */
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    height: 7.5rem;
  }
  
  .navbar-container ul {
    padding: 0.3125rem; /* Utilisation de rem pour une taille relative */
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center; /* Centrer horizontalement les éléments */
    width: 100%;
    gap: 7rem; /* Utilisation de rem pour une taille relative */
  }
  
  .nav-link {
    width: 10rem; /* Utilisation de rem pour une taille relative */
    height: 5.7rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease !important; /* Ajout de l'effet de transition */
    cursor: pointer; /* Ajout de la propriété cursor pour indiquer que les éléments sont cliquables */
  }
  
  .navbar-nav a:hover {
    transform: scale(1.2); /* Agrandir l'image de 10% */
  }
  
  .nav-link:hover,
  .nav-link.active,
  .container-link.agrandi .BlayeLesMines,
  .container-link.agrandi .site2,
  .container-link.agrandi .site3 {
    background: #B8DDFF;
    border-radius: 0.5rem; /* Utilisation de rem pour une taille relative */
  }
  
  .navbar-nav a .navbar-text {
    font-size: 1rem;
  }
  
  .navbar-text {
    margin-top: -0.3125rem; /* Utilisation de rem pour une taille relative */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    font-family: 'Poppins'; /* Remplacez Arial par le nom de la police de votre choix */
    font-weight: 300;
    font-style: normal;
  }
  
  .hidden {
    opacity: 0; /* Opacité de 0 pour cacher la navbar */
    transition: opacity 0.3s ease; /* Ajout d'une transition fluide pour la disparition */
  }
  
  /* Ajoutez cette règle pour empêcher les interactions avec la navbar cachée */
  .hidden {
    pointer-events: none;
  }
  
  /* Ajoutez cette règle pour la transition d'apparition */
  .navbar-container {
    transition: opacity 0.3s ease; /* Ajout d'une transition pour l'apparition */
  }
  
  /* Phrase Bonjour ******************************************/
  .page-selection-container {
    margin-left: 2rem;  
    margin-top: 2rem;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .divider {
    width: 98%;
    border: 1px solid black;
  }
  
  .description {
    font-size: 1.2rem;
    opacity: 60%;
  }


  /* Style général ******************************************/

  .poste-title{
    font-size: 1vh;
    font-weight: 600;
  }
  .charge-content{
    font-size: 1vh;
    font-weight: 600;
  }
  
  .select-semaine{
    cursor: pointer;
    background-color: rgba(217, 217, 217,0.31);
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0,0.07);
    scale: 1;
    /* box-shadow: rgba(0, 0, 0,0.25) 4px 0px 4px 0px; */
  }
  
  .select-semaine:hover{
    background-color: rgba(219,232,244,0.5);
    border: 2px solid rgba(219,232,244,0.5);
    scale: 1.1;
    transition: scale 0.2s;
  }
  
  .select-semaine.active{
    background-color: rgba(219,232,244,0.8) !important;
    border: 2px solid rgba(219,232,244,1) !important;
  }


  .display-perso-4{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #979797;
    font-weight: 100;
  }
  .display-perso-3{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: 300;
  }

